* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 1230px;
    font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
/* share */
.container {
    position: relative;
    width: 1230px;
    margin: 0 auto;
}
.section-title {
    font-size: 26px;
    color: #fff;
}
.section-title-en {
    font-family: 'Raleway-Medium';
    font-size: 14px;
    color: #fff;
}
.more-btn {
    margin-top: 30px;
}
.more-btn a {
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    border: 1px solid #f1501a;
    border-radius: 28px;
    background-color: #f1501a;
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    text-align: center;
}
.more-btn a:hover {
    background-color: #3e3e3e;
    color: #f1501a;
    transition: 1s;
}
.more-btn span {
    padding: 0 30px 0 10px;
}
/* header */
.header {
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #000;
}
.logo {
    float: left;
    width: 137px;
    height: 60px;
    padding-left: 60px;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(./img/logo.png) 0 0 no-repeat;
}
.menu {
    float: right;
    padding-right: 110px;
}
.menu-list {
    float: left;
    margin-left: 50px;
    list-style: none;
}
.menu-list a {
    font-size: 14px;
    color: #a0a0a0;
    line-height: 60px;
}
.menu-list a.active {
    color: #fff;
}
/* section.banner */
.banner {
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
      width: 1230px;
      height: 800px;
  }
.swiper-slide:nth-child(1) {
    background: #000 url(./img/banner1.jpg) center center /cover no-repeat;
}
.swiper-slide:nth-child(2) {
    background: #000 url(./img/banner2.jpg) center center /cover no-repeat;
}
.banner-item {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -50px;
    text-align: center;
}
.banner-item h2 {
    font-size: 40px;
    color: #fff;
}
.banner-item p {
    padding-top: 10px;
    font-size: 20px;
    color: #fff;
}
.swiper-pagination-bullet {
    background: #000;
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}
.swiper-button-prev {
    left: 50px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA1CAYAAABWW1tXAAABL0lEQVRYhcXZzW0DIRCG4ddW7mnFHaQFl0A6SgdxCSnBJaSElJBU8OXgbLyy9meAmWEkLrNIjwBpGeAgiYQ4AWfgE/gAQFJ0O0n61j2KJJ4SRnoFnme5d4BjMnqPpOmdR5EUAu+iEbAJ9YbNqCdchXrB1agH3IT2ws1oD9yFtsLdaAvsgtbCbmgN7IpaYXfUAoege3AYugWHomtwOLoEb6FvXugjvIVePNE5nIpOcDo6wV8r6DUKlcSR29HiZ6HyfQFKUM1tWuMSNdVD8MdEGr6UHPLnSsO3Pg7ZncJxS6chFUgYXtN5SJXpjresz5CThBveCnfjPXAX3gs34x7whK/FIu4F8weYcU+4CveGzXgEbMKj4F088tr4ArzulbeZIy+SOEgpbxJnbhfn/28Sv2HOszIDuJUgAAAAAElFTkSuQmCC")
}
.swiper-button-next {
    right: 50px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA1CAYAAABWW1tXAAABNElEQVRYhcXZ4Y2DMAwF4NdboKuwwa3QEehGN0JHuBEYoSvcBu0E734AOoQIcZxnn6X8wLH0EQNSgAtJLHEDMAD4BvBEdJAEyZF/8SI5LPmwsUfT8I9CI64ApqX1aa1OWfn2IBXfJ9Lwo2QKXpoIx88mQ/FaQRhuKQrBrYVyvKVYireeqQz3XB8J7roxFLgX7sZ74C68F3bjCtiFq+BmXAmD5JcVV8Mg+bDgEbAJj4Kr+IVkfSvqjwnA50H+p7SvVsRYQN8AblFtrj5a/4JGwCZUDZtRJdyEquBmVAG70F7YjfbAXagX7kY9sARthWVoCyxFrbActcAhaA0OQ8/gEkoFWoLP0FGBHsEp6B5OQ7dwKrrC6ShZ/mwMAHcAj4Bt7xyFVoetdB3bN4n1n8QT83+J0PgFMJq1Tz9I6hQAAAAASUVORK5CYII=")
}
/* section.intro */
.intro {
    padding: 210px 0;
    background-color: #000;
}
.img-inner {
    width: 740px;
    height: 490px;
    background: url(./img/about.jpg) 0 0 /contain no-repeat;
}
.intro-inner {
    position: absolute;
    top: 150px;
    right: 0;
    box-sizing: border-box;
    width: 595px;
    height: 300px;
    padding: 50px 30px 60px 80px;
    background-color: #3e3e3e;
    font-size: 15px;
    color: #fff;
}
.intro-inner h3 {
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 20px;
}
.intro-inner p {
    font-size: 14px;
    line-height: 1.5;
}
.description {
    width: 750px;
    margin: 80px auto 0;
    font-size: 14px;
    line-height: 1.5;
}
.description p {
    margin-top: 10px;
    text-align: justify;
    color: #c8c8c8;
}
/* sextion.about */
.about {
    padding: 192px 0 352px;
    background: url(./img/section3.jpg) 50% 0 /cover no-repeat;
    background-attachment: fixed;
}
.box {
    margin-top: 50px;
    overflow: hidden;
}
.video {
    position:relative;
    width: 580px;
    height: 300px;
    z-index: 200;
}
video {
    width: 580px;
    height: 300px;
}
.info {
    position: absolute;
    top: 60px;
    right: 0;
    box-sizing :border-box;
    width: 770px;
    height: 510px;
    padding: 80px 80px 60px 160px;
    font-size: 14px;
    color: #fff;
    background: #595959;
    z-index: 1;
}
.info p {
    margin-bottom: 20px; 
}
.info div {
    margin-top: 60px;
}
/* section.news */
.news {
    padding: 80px 0;
    background-color: #212121;
}
.news-info {
    float: left;
    width: 560px;
    color: #fff;
}
.news-info-desc {
    margin: 80px 0;
    font-size: 15px;
    line-height: 2;
}
.news-list {
    float: right;
    width: 530px;
    padding-left: 40px;
}
.news-list li {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #3b3b3b;
}
.news-img {
    float: left;
    width: 100px;
    height: 100px;
}
.news-img img {
    width: 100%;
    height: 100%;
}
.news-item {
    float: right;
    width: 400px;
    margin-left: 20px;
}

.news-title {
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-date {
    margin-top: 10px;
    font-size: 12px;
    color: #7d7d7d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-desc {
    height: 36px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #c8c8c8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
