body, p, h1 {margin: 0;}
ul, ol {list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;cursor: pointer;}

body{
  font-fmily: 微软雅黑, "Open Sans", sans-serif;
  background: #f4f5f5;
}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.new:after{
  content: "new";
  display: inline-block;
  width: 20px;
  height:10px;
  margin-left: 1px;
  font-size: 8px;
  font-weight: normal;
  line-height: 10px;
  vertical-align: super;
  text-align: center;
  color: #fff;
  background: #f55351;
  border-radius: 3px;
}
/*nav*/
nav{
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.navbar-fixed-top{
  position: fixed;
  top: 0;
  z-index: 999;
}
.container{
  max-width: 980px;
  margin:0 auto;
}
.logo{
  display: block;
  width: 60px;
  height: 60px;
  background: url(../../img/1.jpg) 0 0 no-repeat;
}
.nav-left li{
  margin: 0 20px;
}
.nav-left li a{
  display: inline-block;
  text-align: center;
  line-height: 54px;
  color: #777;
}
.nav-left li a:hover{
  color: #62c292;
  border-bottom: 3px solid #62c292;
}
.nav-right .login, .nav-right .register{
  display: inline-block;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
  line-height: 40px;
}
.nav-right .login{
  color: #fff;
  background-color: #62c292;
}
.nav-right .register{
  margin-left: 10px;
  color: #62c292;
  border: 1px solid #62c292;
}

/*main*/
main{
  max-width: 980px;
  margin:0 auto;
  margin-top: 70px;
}
.main-container{
  background: #fff;
}
.main-container div{
  float: left;
  width: 460px;
  padding: 10px;
}
.main-container div:nth-child(2n){
  margin-right: 16px;
}
.main-container div a{
  float:left;
  display: flex;
  width: 200px;
}
.main-container div a img{
  justify-content: center;
  align-items: center;
}
.main-container div p{
  font-size: 14px;
  color: #777;
}
